{{ 'intro-banner.css' | asset_url | stylesheet_tag }}
<div class="intro__banner" style="margin-bottom: 50px;">
  <div class="intro__banner__background__image">
    <div class="intro__banner__content__container">
      <p>Survival Pack</p>
      <span>Wear The Quality</span>
      <div class="intro__button__container">
        <a href="/collections/mens-survival-pack" class="btns btns-primary">SHOP MEN</a>
        <a href="/collections/womens-survival-pack" class="btns btns-secondary">SHOP WOMEN</a>
      </div>
    </div>
  </div>
</div>
