{{ 'shop-all-snippet.css' | asset_url | stylesheet_tag }}
<div class="shop__all__snippet">
  <div class="shop_all_wrapper">
    <div class="shop__all__banner">
      <img src="{{'men-banner.png' |  asset_url}}" alt="" class="banner__image">
      <div class="shop__all__desc__content">
        <span>Men</span>
        <span>BH Men Survival Pack</span>
      </div>
    </div>
    <p class="shop__all__title"><span>Barelyhuman</span>/<span>Men</span></p>
    <div class="collection__list__wrapper">
      <div class="collection__list__container">
        {% render 'collction-product-card' %}
      </div>
    </div>
  </div>
</div>
