<style>
  #dropdown__links.active {
    display: flex;
  }
</style>

<div class="hidden md:flex w-full h-screen">
  <div class="w-[25%] h-screen bg-white border-r border-gray-100">
    <div class="w-full p-3 mb-[20px]">
      <p class="mb-[3px]">Hello 👋</p>
      <p class="font-bold text-xl">{{ customer.name }}</p>
    </div>
    <div class="w-full  mb-[20px] flex flex-col gap-4">
      <a href="#" id="link__to__order" class="w-full h-[40px] flex items-center text-gray-400 hover:bg-gray-200 p-3"
        >Order History</a
      >
      <a href="#" id="link__to__address" class="w-full h-[40px] flex items-center text-gray-400 hover:bg-gray-200 p-3"
        >Addresses</a
      >
      <a href="#" id="link__to__support" class="w-full h-[40px] flex items-center text-gray-400 hover:bg-gray-200 p-3"
        >Support</a
      >
      <a
        href="/account/logout"
        id="logout"
        class="w-full h-[40px] flex items-center text-gray-400 hover:bg-gray-200 p-3"
        >Logout</a
      >
    </div>
  </div>
  <div class="w-[75%] h-screen">
    <div id="order__history" class="w-full h-screen flex items-center justify-center">
      {% render 'order-history' %}
    </div>
    <div id="users__address" class="hidden w-full h-full">
      {% render 'user-address-page' %}
    </div>
    <div id="support__page" class="hidden w-full h-full">
      {% render 'contact-us' %}
    </div>
  </div>
</div>
<div class="md:hidden w-full min-h-screen my-8">
  <div class="w-full flex items-center justify-center flex-col gap-2 mt-[90px] px-6 py-2">
    <p>Hello 👋</p>
    <p class="font-bold">{{ customer.name }}</p>
  </div>

  <div name="" id="dropdown" class="border-none  outline-none p-3 w-[80%] mx-auto bg-white my-[30px]">
    <div class="w-full h-[30px] flex justify-between px-2">
      <span>Choose Option</span>
      <span class="text-black cursor-pointer" id="open__dropdown">
        <i class="fa-solid fa-chevron-down"></i>
      </span>
    </div>
    <div id="dropdown__links" class="w-full flex flex-col gap-2 hidden">
      <a href="#" id="mobile__link__to__order" class="bg-gray-100 hover:bg-gray-300 px-6 py-2">Order History</a>
      <a href="#" id="mobile__link__to__addresses" class="bg-gray-100 hover:bg-gray-300 px-6 py-2">Addresses</a>
      <a href="#" id="mobile__link__to__support" class="bg-gray-100 hover:bg-gray-300 px-6 py-2">Support</a>
      <a href="#" id="/account/logout" id="mobile__logout" class="bg-gray-100 hover:bg-gray-300 px-6 py-2">Logout</a>
    </div>
  </div>
  <div class="w-[100%] h-screen">
    <div id="mobile_order__history" class="w-full h-screen flex items-center justify-center">
      {% render 'order-history' %}
    </div>
    <div id="mobile_users__address" class="hidden w-full h-full">
      {% render 'user-address-page' %}
    </div>
    <div id="mobile_support__page" class="hidden w-full h-full">
      {% render 'contact-us' %}
    </div>
  </div>
</div>

<script>
  const openDropdown = document.getElementById('open__dropdown');
  const dropDownLinks = document.getElementById('dropdown__links');
  const orderHistory = document.getElementById('order__history');
  const userAddress = document.getElementById('users__address');
  const supportCustomer = document.getElementById('support__page');
  const mobileorderHistory = document.getElementById('mobile_order__history');
  const mobileuserAddress = document.getElementById('mobile_users__address');
  const mobilesupportCustomer = document.getElementById('mobile_support__page');
  const toOrder = document.getElementById('link__to__order');
  const toAddress = document.getElementById('link__to__address');
  const toSupport = document.getElementById('link__to__support');
  const mobiletoOrder = document.getElementById('mobile__link__to__order');
  const mobiletoAddress = document.getElementById('mobile__link__to__addresses');
  const mobiletoSupport = document.getElementById('mobile__link__to__support');

  openDropdown.addEventListener('click', () => {
    dropDownLinks.classList.toggle('active');
  });

  mobiletoAddress.addEventListener('click', (e) => {
    e.preventDefault();
    dropDownLinks.classList.remove('active');
    mobileorderHistory.style.display = 'none';
    mobileuserAddress.style.display = 'block';
    mobilesupportCustomer.style.display = 'none';
  });
  mobiletoOrder.addEventListener('click', (e) => {
    e.preventDefault();
    dropDownLinks.classList.remove('active');
    mobileorderHistory.style.display = 'block';
    mobileuserAddress.style.display = 'none';
    mobilesupportCustomer.style.display = 'none';
  });
  mobiletoSupport.addEventListener('click', (e) => {
    e.preventDefault();
    dropDownLinks.classList.remove('active');
    mobileorderHistory.style.display = 'none';
    mobileuserAddress.style.display = 'none';
    mobilesupportCustomer.style.display = 'block';
  });

  toOrder.addEventListener('click', (e) => {
    e.preventDefault();
    orderHistory.style.display = 'block';
    userAddress.style.display = 'none';
    supportCustomer.style.display = 'none';
  });
  toAddress.addEventListener('click', (e) => {
    e.preventDefault();
    userAddress.style.display = 'block';
    orderHistory.style.display = 'none';
    supportCustomer.style.display = 'none';
  });
  toSupport.addEventListener('click', (e) => {
    e.preventDefault();
    supportCustomer.style.display = 'block';
    orderHistory.style.display = 'none';
    userAddress.style.display = 'none';
  });

  (function () {
    var REDIRECT_PATH = '/account/login';
    var logoutBtn = document.getElementById('logout');
    if (logoutBtn) {
      logoutBtn.addEventListener('click', function () {
        fetch(logoutBtn.href).then(() => {
          window.location.href = REDIRECT_PATH;
        });
      });
    }
  })();
  (function () {
    var REDIRECT_PATH = '/account/login';
    var mobileLogoutBtn = document.getElementById('mobile__logout');
    if (logoutBtn) {
      logoutBtn.addEventListener('click', function () {
        fetch(logoutBtn.href).then(() => {
          window.location.href = REDIRECT_PATH;
        });
      });
    }
  })();
</script>
