.collection__page__title {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  width: 100%;
  padding-top: 20px;
  margin-left: 12px;
}

@media screen and (max-width: 768px) {
  .collection__page__title {
    display: none;
  }
}

.size-option.selected {
  background-color: black;
  color: white !important;
}

.collapsable__product__description {
  display: none;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

::-webkit-scrollbar {
  display: none;
}
