{{ '404.css' | asset_url | stylesheet_tag }}
<div class="page__not__found">
  <h2 class="page__not__found__title">404 - Page Not Found</h2>
  <p class="page__not__found__subtext">The resource you have requested does not exist!!!</p>
  <a href="{{ routes.all_products_collection_url }}" class="back__to__shopping">Back To Shopping</a>
</div>
